
.new-year-banner {
  background: url(images/Banner\ Image.png) no-repeat center center;
  background-size: cover;
  height: 500px; /* Adjust as needed */
  color: white;
  text-align: center;
}

.new-year-banner h1, .new-year-banner h2, .new-year-banner h3 {
 margin: 0;
 padding: 0;
}

.new-year-banner h1 {
color: #FFF;

font-family: 'Merriweather', serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
 margin-top: 100px; /* Adjust as needed */
 font-size: 24px; /* Adjust as needed */
}

.new-year-banner h2 {
  color: #FFF;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}
.sale-banner {
  color: #F00;
  font-family: 'Inter', sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.holidays-text{
  color: #F00;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.categories-text {
  color: #070211;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.new-year-banner {
  color: white;
  padding: 20px;
}

h1, h2 {
 font-size: 36px;
}

p {
 font-size: 18px;
}
